/*
selector {
        propiedad: valor;
        text-decoretion saca por defecto lo que viene
}
*/

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100;1,300&family=Roboto:ital,wght@0,300;0,400;1,100;1,300;1,700&display=swap");



body {
  background-color: aliceblue;
  font-family: "Lato", sans-serif;
}

/* INMICIA SECCION DE NAV*/
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  text-decoration: none;
}

.nav-bar li {
  display: inline;
  padding: 15px;
  margin: 15px;
}
a {
  text-decoration: none;
  color: darkgreen;
  font-size: 20px;
}
a:hover {
  color: red;
}
.img-logo {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: inherit;
}
/* FINALIZA SECCION DE NAV*/

/* INICIA SECCION DE INFORMACION*/
.grid-section {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #B1D7B4;
}

.text-section {
  text-align: center;
  padding: 20px;
  padding-bottom: 20px;
}


.btn {
  padding: 10px 20px;
  background-color: green;
  color: black;
}
.btn a{
  text-decoration: none;
  color: black;
}

img {
  width: auto;
  max-height: 600px;
}
/* FINALIZA SECCION DE INFORMACION*/

/* COMIENZA SECCION DE FOOTER*/
.container-footer {
  position: absolute;
  margin-top: 50px;
  width: 100%;
  height: 400px;
  background-color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.text-footer {
  width: 100px;
  height: 100px;
  margin-top: 100px;
}

.text-footer ul {
  text-align: center;
  font-size: 15px;
  color: white;
  list-style: none;
}


.text-footer p {
  color: #7FB77E;
  font-size: 13px;
  text-align: center;
  padding-top: 10px;
  text-align: center;
}

/* FINALIZA SECCION DE FOOTER*/


/* INICIA SECCION DE CONTACTO*/
.grid-contacto{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
}

.text-contact{
  text-align: center;
  margin-top: 100px;
}
.form-container{
  display: flex;
  flex-direction: column;
  
}

.inputs{
  height: 30px;
  width: 100%;
  margin: 5px 0 30px 0;
}

.text-area{
  height: 100px;
  width: 300px;
}
/* FINALIZA SECCION DE CONTACTO*/

@media (min-width: 300px) and (max-width: 767px) {
  .grid-section { 
    margin:auto;
		display:block;
    gap: 40px;  
  }
  .grid-section p {
    display: none;}

 .grid-section img {
    width:100%;
    max-width:600px;}

  .grid-section h2 {
    bottom: auto;
  }
}
 
  
 
